body {
  font-family: "Poppins", sans-serif;
  margin: 35px 35px 0 35px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 > span {
  color: rgb(20, 20, 109);
}

 .tile-image {
  width: 15rem;
  float: left;
  margin-right: 30px;
}

.card {
  width: 39rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}


@media ( max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 4.5rem;
    text-align: center;
  }
  .tile-image {
    float: none;
    width: 80vw;
    float: left;
    margin-right: 30px;
  }

  .left, .right {
    float: none
  }

  .card {
    width: unset;
  }
}