body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.header-div{
    display: flex;
    justify-content: space-between;
}
.header-div1{
   

    display: flex;
    width: 500px;
    justify-content: flex-start;
    align-items: center;
}
.logo-img{

    margin: 0 5px;
    width: 40px;
}
.header-div2{
    display: flex;
    justify-content: space-evenly;
  
  width: auto;
  margin: auto;
}
.header-div2 nav {
  width: auto;

  

}
.header-div3{
width: auto;
text-align: right;

}

.header-div3 input {
    outline: none;
    border: none;
    padding: 2px 5px;
}
.head{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}
header h1 {
    margin: 0;
}
.sidebarleft-innerbox1{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    
    border-radius: 12px;
    width: 170px;
margin: 10px 15px;
}
.random-div{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    width: 170px;
margin: 10px 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.main-content{
  color: black; 
  margin: 0;
  
}
.container {
    display: flex;
}

.sidebar {
   
    border-radius: 5px;
    padding: auto;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: #32174d;
}





main {
   
    padding: 20px;
    background-color: ghostwhite;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.sidebar a {
    font-size: large;
    text-decoration: none;
    color: black;
    margin: 15px auto;
}
.showroom{
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: darkviolet;
}
.showroom .top-trending {
    display: block;
    font-size: 38px;
    margin: auto;
}
.flex-container{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.card img {
    width: 100%;
    height:170px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card p {
    font-size: 14px;
    color: white;
}
.sale-t{
    display: block;
    margin: auto;
    font-size: 36px;
}
.onsale{
    display: flex;
    flex-wrap: wrap;
}
.right-sidebar{
    color: white;
}
.right-sidebar p{
    font-size: large;
    font-weight: 400;
}
.right-sidebar input{
    padding: 5px;
    border-radius: 10px;
    width: auto;
    margin-bottom: 10px;
}
.input-btn{
    display: inline-block;
    width: 80px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.hero-img img{
    max-width: 100%;
    height: 25%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    margin: 0px;

}
.hero-text{
position: absolute;
bottom: 30%;
left: 30%;
}
.hero-text h2{
    
    padding-top: auto;
   margin-top: 10px;
    color: white;
   font-size: 34px;

    font-weight: 800;
} 
.hero-text p{
    color: white;
    font-size: 25px;
}
.header-input{
    border-radius: 10px;
    height: 4vh;
    min-width: 30ch;
 justify-content: flex-end;
    margin: 0 auto;
}
.head > *{
    flex-basis: 100%;
   
    margin: auto;
    width: auto;
    flex: 1 1 10em;
}
/* .head > *:nth-child(1){ border: 1px solid;
    flex: 1 1 33%;
}  
.head > *:nth-child(2){ border: 1px solid;
    flex: 1 1 33%;
}   
.head > *:nth-child(3){ border: 1px solid;
    flex: 1 1 33%;
   
} */